<div class="container-fluid">
    <div class="m-3">
        <div class="row">
            <div class="col-md-4">
                <div class="perfil-col shadow my-3 px-3 py-1">
                    <img src="../../assets/cuchito.jpg" class="img-fluid rounded mx-auto d-block mt-3" alt="cuchito">
                    <h2 class="text-center mt-3">Shande Puma Puma Pantoja</h2>
                    <div class="d-flex flex-column align-items-center mt-4">
                        <div><h5 class="m-0">Correo Electronico:</h5></div>
                        <div><p>gmail@gmail.com</p></div>
                        <div><h5 class="m-0">Ciudad:</h5></div>
                        <div><p>Cusco</p></div>
                        <div><h5 class="m-0">Pais:</h5></div>
                        <div><p>Perú</p></div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="perfil-col shadow my-3 px-3 py-1">
                    <div class="d-flex flex-column m-4">
                        <h1>SOBRE MI</h1>
                        <div><h5 class="m-0">Código:</h5></div>
                        <div><p>0191019313k</p></div>
                        <div><h5 class="m-0">Grado:</h5></div>
                        <div><p>5to secundaria</p></div>
                        <div><h5 class="m-0">Turno:</h5></div>
                        <div><p>Mañana</p></div>
                        <div><h5 class="m-0">Fecha de nacimiento:</h5></div>
                        <div><p>20-10-1990</p></div>
                        <div><h5 class="m-0">Género:</h5></div>
                        <div><p>Hombre</p></div>
                        <div><h5 class="m-0">Celular:</h5></div>
                        <div><p>982346367</p></div>
                        <div><button class="my-3">Editar perfil</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
